<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Search</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h2></h2>
    <input type="text" id="fromStation" placeholder="From Station Code">
    <input type="text" id="toStation" placeholder="To Station Code">
    <input type="date" id="date" name="Date" value="2023-05-26">
    <button onclick="searchTrains()">Search</button>
    <pre id="result"></pre>

    <script src="/js/script.js"></script>
</body>
</html>
